/* AIUTI ALLA NAVIGAZIONE ################################################### */

#scroll-back-button {
	right: 1.5%;
	bottom: -3.125rem;
	position: fixed;
	padding: 0.5rem;
	background-color: #00428a;
	border-radius: 30px;
	
	opacity: 0;
	transition: opacity .3s ease, bottom .3s ease;
}

#scroll-back-button.scroll-back-button-active {
	opacity: 1;
	bottom: 1.375rem;
}

@media(min-width:1200px) {
	#scroll-back-button {
		right: calc(50% - 35rem);
	}

	#scroll-back-button.scroll-back-button-active{
		bottom: 4.375rem;
	}
}

#scroll-back-button svg {
	width: 2rem;
	height: 2rem;
	vertical-align: middle;
	padding: 0.15rem 0.25rem;
	fill: #fff;
}
