/* AIUTI ALLA NAVIGAZIONE ################################################### */

#scroll-back-button > a {
	width: 3rem;
	height: 3rem;
	right: calc(50% - 35rem);
	bottom: 4rem;
	position: fixed;
	padding: 0.5rem;
	vertical-align: middle;
	background-color: #00428a;
	border-radius: 30px;
}

#scroll-back-button svg {
	width: 2rem;
	height: 2rem;
	vertical-align: middle;
	padding: 0.15rem 0.25rem;
}
