/* AIUTI ALLA NAVIGAZIONE ################################################### */

#scroll-back-button > a {
	right: 1.5%;
	transform: translateY(-12rem);
	position: fixed;
	padding: 0.5rem;
	vertical-align: middle;
	background-color: #00428a;
	border-radius: 30px;
	
	opacity: 0;
	transition: opacity .3s ease, transform .3s ease;
}

#scroll-back-button.scroll-back-button-active > a{
	opacity: 1;
	transform: translateY(-21rem);
}

@media(min-width:1200px) {
	#scroll-back-button > a {
		right: calc(50% - 35rem);
	}
}

#scroll-back-button svg {
	width: 2rem;
	height: 2rem;
	vertical-align: middle;
	padding: 0.15rem 0.25rem;
	fill: #fff;
}
