.bottoni{
display: inline-block;
position: relative;
float: right;  
}

.linea{
border: 1px solid #007bff;
border-radius: 5px;
padding : 2px;
overflow: auto;
}

.pagina{
display: inline-block;
position: relative;
/*vertical-align: middle; non funziona*/
padding-top: 5px;
padding-bottom: 5px;
}

.collegamentibottoni{
border: 1px solid #007bff;
padding: 1em;
background: #007bff;
color: white;
}

a.areapersonale:link {color:white;}
/*a.areapersonale:visited {color:violet;} */
a.areapersonale:hover {font-size:110%;}








.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #007bff;
  background-color: transparent;
}

