/*- il padding ha lo sfondo, il margine no
 	-usare caretteri con grazie (per la stampa), per lo schermo senza grazie
 	- display none non fa leggere neanche allo screen reader
*/

 /* IN HTML: - usare scope row e scope col nelle tabelle per gli handicappati
 						 - xml:lang="en" per qualcosa in un altra lingua
 						 - per le abbreviazioni usare abbr title="..."

 	consigli: - non permettere un link alla pagina corrente
 						- mostrare la differenza tra pagina visitata e non visitata
 						- mostrare subito il contenuto della pagina, senza scorrere
 */

#accesso h1{
  font-weight: bold;
}

#registrazione h1{
  font-weight: bold;
}

#accesso{
  max-width: 29rem;
  margin-right: auto;
  margin-left: auto;
  padding: 1em;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.175);
  background-color: #007bff;
  color: white;
}


#registrazione{
  padding: 1em;
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.175);
  background-color: #007bff;
  color: white;
}


#contattomail h1{
  font-weight: bold;
}

#contattotelefonico h1{
  font-weight: bold;
}

#contattomessaggio h1{
  font-weight: bold;
}

#NonAncoraRegistrato{
  margin-top: 4rem;
  /*margin-bottom: 0.5rem;*/
}

.form-check-label{
  font-size: 88%;
}

.help-block{
  font-size: 88%;
}

/*larghezza fissa, margine dx e sx auto*/



.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
  font-family: Verdana;
}

.form-group {
  margin-bottom: 0.6rem;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.95rem;
  color: #dc3545;
}


#accesso .form-control,
#registrazione .form-control{
  width: 100%;
}

#accesso .col-form-label,
#registrazione .col-form-label {
  text-align: right;
}

#accesso .btn-outline-primary,
 #registrazione .btn-outline-primary
 {
  color: #fff;
  background-color: #194173;
  background-image: none;
  width: 7rem;
}

.btn-outline-primary:hover {
  color: #007bff;
  background-color: #fff;
  border-color: #fff;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #007bff;
  background-color: transparent;
}

#FormControlTextarea{
  width: 60%;
  line-height: inherit;
  height: 20rem;
}

.form-check-input:disabled ~ .form-check-label {
  color: #6c757d;
}

.form-check-label {
  margin-bottom: 0;
}

@media(min-width: 768px){
  #registrazione .form-control,
   #accesso .form-control {
    max-width: 18rem;
  }
}

#contatti
.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

#contatti
.btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

#contatti
.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

#contatti
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #007bff;
  background-color: transparent;
}
