
#accesso h1{
  font-weight: bold;
}

#accesso #id #password{
	text-decoration-style: solid;
  font-family: fantasy;
}

#registrazione h1{
  font-weight: bold;
}

#registrazione .sezione .sottosezione{

}

#sezione h1{
  font-weight: bold;
}
