.macrocategories > li {
	margin: 0 auto;
	width: 22em;
}

@media(min-width:1200px) {
	.macrocategories > li {
		margin-left: 1em;
		margin-right: 1em;
		float: left;
	}

	.macrocategories > li:last-child:nth-child(2n+1) {
		margin: 0 25%;
	}
}

.macrocategories h1 {
	margin: 0;
}

.macrocategories h1 a {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 20px 20px 0 0;
	font-size: 0.65em;
	padding: 0.1em 2em;
	display: list-item;
}

.macrocategories h1 a:hover {
	background-color: #000000;
	color: #FFFFFF;
}

.categories {
	padding: 0;
}

.categories > li a {
	border: 1px solid rgba(0, 0, 0, 0.2);
	text-align: center;
	background-color: #0247b9;
	color: #ffffff;
	padding: 0.3em 1em;
	font-size: 1.1em;
	display: block;
}

.categories > li a:hover {
	background-color: #005AEE;
}

.categories > li:last-child a {
	border-radius: 0 0 20px 20px;
}
