#macrocategories {
	overflow: hidden;
	padding: 0;
}

#macrocategories > li {
	margin: 0 auto;
	max-width: 22rem;
}

@media(min-width:1200px) {
	#macrocategories {
		max-width: 48rem;
		margin: 0 auto;
	}

	#macrocategories > li {
		margin-left: 1rem;
		margin-right: 1rem;
		float: left;
		width: 22rem;
	}

	#macrocategories > li:last-child:nth-child(2n+1) {
		margin: 0 25%;
	}
}

#macrocategories h1 {
	margin: 0;
}

#macrocategories h1 a {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 20px 20px 0 0;
	font-size: 1.8rem;
	padding: 0.5rem 2rem;
	display: block;
	background: #003180;
	color: #fff;
}

#macrocategories > li > ul {
	padding: 0;
}

#macrocategories > li > ul > li a {
	border: 1px solid rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 0.3rem 1rem;
	font-size: 1.1rem;
	display: block;
}

#macrocategories > li > ul > li a:hover {
	background-color: #005AEE;
	color: #fff;
}

#macrocategories > li > ul > li:last-child a {
	border-radius: 0 0 20px 20px;
}
