*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

h1,
h2 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

h1,
h2 {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

ul {
	margin-top: 0;
	margin-bottom: 1rem;
	list-style: none;
}

a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #0056b3;
}

img {
	vertical-align: middle;
	border-style: none;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

button {
	border-radius: 0;
	text-transform: none;
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto;
}

input,
button,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input {
	overflow: visible;
}

textarea {
	overflow: auto;
	resize: vertical;
}

header,
footer {
	display: block;
}

main {
	display: block;
}

footer {
	bottom: 0;
	background: rgb(1, 30, 76);
}

header {
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 100;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
	/* Chrome >= 4 */
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
	/* Firefox >= 3.5 */
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
	/* IE >= 9, Opera >= 10.5 */
}

nav li {
	position: relative;
}

/* HEADER AND SIDEBAR NAV ################################################ */
.nav ul {
	padding-left: 0;
	margin-bottom: 0;
}

.nav li {
	position: relative;
	display: inline-block;
	float: right;
}

.nav li > a {
	position: relative;
	display: block;
	padding: 10px 20px;
}

.nav li > a:hover,
.nav li > a:focus {
	background-color: #eee;
}

.nav li > a.login-button {
	background: #005AEE;
	border-radius: 25px;
}

.nav li > a.login-button:hover {
	background: #0247b9;
}

.navbar {
	position: relative;
	min-height: 3.125rem;
	/*margin-bottom: 20px;*/
	padding: 0.5rem 1rem;
}

.navbar-brand {
	display: inline-block;
	/*padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;*/
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
	text-decoration: none;
}

.navbar-form {
	padding: 10px 15px;
	margin-top: 0;
	margin-right: -15px;
	/*margin-bottom: 8px;*/
	margin-left: -15px;
	border: none;
	box-shadow: none;
}

.navbar-toggler {
	padding: 0.35rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background: #005AEE;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.navbar-toggler:hover {
	background: #0247b9;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
	text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
}

.navbar-toggler-icon {
	background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand > img {
	width: 2.5rem;
}

.login-button,
.login-button:hover {
	color: #fff;
}

#burger-menu {
	float: right;
}

.navbar-input {
	padding: 10px 15px;
	border-radius: 2px 0 0 2px;
	border: 1px solid rgba(153, 153, 153, .3);
	outline: 0 none;
	font-size: 0.9375rem;
	letter-spacing: 0.0625em;
}

.navbar-button {
	background: #005AEE;
	border: none;
	border-radius: 0 25px 25px 0;
	color: #565656;
	padding: 10px 0;
	padding-bottom: 2.125rem;
	margin-left: -0.6rem;
	height: 2.6875rem;
	cursor: pointer;
}

.navbar-button:hover {
	background: #0247b9;
}

#icon-search {
	width: 0.9375rem;
	height: 0.9375rem;
	fill: #fff;
	margin-left: -.5rem;
}

#sidebar-wrapper {
	width: 15rem;
	position: fixed;
	height: 100%;
	background: #003180;
	z-index: 1000;
	transform: translateX(-15.9375rem);
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	-o-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
	will-change: transform;
	/* rendering ottimizzto per maggior fluidità */
}

#sidebar-wrapper.toggled {
	transform: translateX(-0.9375rem);
}

.sidebar-nav {
	top: 0;
	width: 15rem;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 40px;
}

.sidebar-nav a,
.sidebar-nav li.active {
	color: #fff;
	display: block;
	padding: 10px;
	padding-left: 45px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	;
}

.sidebar-nav li:first-child {
	border-top: 2px solid rgba(255, 255, 255, 0.1);
	;
}

.sidebar-nav a:hover {
	background: #005AEE;
}

.sidebar-nav li.active::before {
	content: '';
	display: block;
	background: #fff;
	height: 100%;
	width: 5px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}

@media (min-width: 768px) {
	.navbar-brand {
		padding-left: 4.6875rem;
	}

	.navbar-form {
		width: 22.5rem;
		padding-top: 0;
		padding-bottom: 0;
		margin-right: 0;
		margin-left: 0;
		border: 0;
		float: right;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	#sidebar-wrapper {
		position: fixed;
		width: 15rem;
		transform: translateX(-0.9375rem);
		margin: 0;
		height: 100%;
	}
}

/* END HEADER AND SIDEBAR NAV ################################################ */

/* CONTENT ###################################################### */
#content {
	position: relative;
	padding-top: 7.685rem;
	background: #FFF;
}

.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(250, 250, 250, .8);
	z-index: 1;
}

#page-content-wrapper {
	width: 100%;
	padding: 40px 30px 30px 30px;
}

#page-content-wrapper > nav {
	margin-top: -2.45rem;
}

#page-content-wrapper.toggled {
	margin-right: 0;
	left: 0;
}

@media (min-width: 768px) {
	#content.container-fluid {
		padding-top: 3.725rem;
		padding-left: 15rem;
		padding-right: 0;
	}

	#page-content-wrapper {
		padding: 40px;
		margin-right: 0;
	}
}

/* END CONTENT ###################################################### */

/* BREADCRUMB ############################################## */
.breadcrumb {
	padding: 0.75rem 1rem;
	margin-bottom: 1rem;
	/*margin-top: 0;*/
	list-style: none;
	background: #e9ecef;
	color: #1f2c3a;
	/*border-radius: 0.25rem;*/
}

.breadcrumb > li + li:before {
	padding: 0 5px;
	color: #ccc;
	content: "/\00a0";
}

.breadcrumb > li {
	display: inline-block;
}

.breadcrumb > .active {
	color: #777;
}

/* END BREADCRUMB ############################################## */

/* BUTTON ############################################## */
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 0.875rem;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn:focus,
.btn:active:focus {
	outline: 5px auto;
	outline-offset: -2px;
}

.btn:hover,
.btn:focus {
	color: #333;
	text-decoration: none;
}

.btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* END BUTTON ############################################## */

/* FOOTER ############################################## */
.footer-copyright {
	color: #fff;
	text-align: center;
}

@media (min-width: 768px) {
	.footer-copyright {
		color: #fff;
		text-align: center;
		margin-left: 15rem;
	}
}

/* END FOOTER ############################################## */

/* GRID LAYOUT ############################################## */
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {

	.container,
	.container-fluid {
		max-width: 1140px;
	}
}

.container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	position: relative;
	min-height: 0.0625rem;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
	float: left;
}

.col-xs-12 {
	width: 100%;
}

.col-xs-11 {
	width: 91.66666667%;
}

.col-xs-10 {
	width: 83.33333333%;
}

.col-xs-9 {
	width: 75%;
}

.col-xs-8 {
	width: 66.66666667%;
}

.col-xs-7 {
	width: 58.33333333%;
}

.col-xs-6 {
	width: 50%;
}

.col-xs-5 {
	width: 41.66666667%;
}

.col-xs-4 {
	width: 33.33333333%;
}

.col-xs-3 {
	width: 25%;
}

.col-xs-2 {
	width: 16.66666667%;
}

.col-xs-1 {
	width: 8.33333333%;
}

.col-xs-pull-12 {
	right: 100%;
}

.col-xs-pull-11 {
	right: 91.66666667%;
}

.col-xs-pull-10 {
	right: 83.33333333%;
}

.col-xs-pull-9 {
	right: 75%;
}

.col-xs-pull-8 {
	right: 66.66666667%;
}

.col-xs-pull-7 {
	right: 58.33333333%;
}

.col-xs-pull-6 {
	right: 50%;
}

.col-xs-pull-5 {
	right: 41.66666667%;
}

.col-xs-pull-4 {
	right: 33.33333333%;
}

.col-xs-pull-3 {
	right: 25%;
}

.col-xs-pull-2 {
	right: 16.66666667%;
}

.col-xs-pull-1 {
	right: 8.33333333%;
}

.col-xs-pull-0 {
	right: auto;
}

.col-xs-push-12 {
	left: 100%;
}

.col-xs-push-11 {
	left: 91.66666667%;
}

.col-xs-push-10 {
	left: 83.33333333%;
}

.col-xs-push-9 {
	left: 75%;
}

.col-xs-push-8 {
	left: 66.66666667%;
}

.col-xs-push-7 {
	left: 58.33333333%;
}

.col-xs-push-6 {
	left: 50%;
}

.col-xs-push-5 {
	left: 41.66666667%;
}

.col-xs-push-4 {
	left: 33.33333333%;
}

.col-xs-push-3 {
	left: 25%;
}

.col-xs-push-2 {
	left: 16.66666667%;
}

.col-xs-push-1 {
	left: 8.33333333%;
}

.col-xs-push-0 {
	left: auto;
}

@media(min-width: 768px) {
	nav li {
		float: none;
	}

	.navbar-toggler {
		display: none;
	}

	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12 {
		float: left;
	}

	.col-sm-12 {
		width: 100%;
	}

	.col-sm-11 {
		width: 91.66666667%;
	}

	.col-sm-10 {
		width: 83.33333333%;
	}

	.col-sm-9 {
		width: 75%;
	}

	.col-sm-8 {
		width: 66.66666667%;
	}

	.col-sm-7 {
		width: 58.33333333%;
	}

	.col-sm-6 {
		width: 50%;
	}

	.col-sm-5 {
		width: 41.66666667%;
	}

	.col-sm-4 {
		width: 33.33333333%;
	}

	.col-sm-3 {
		width: 25%;
	}

	.col-sm-2 {
		width: 16.66666667%;
	}

	.col-sm-1 {
		width: 8.33333333%;
	}

	.col-sm-pull-12 {
		right: 100%;
	}

	.col-sm-pull-11 {
		right: 91.66666667%;
	}

	.col-sm-pull-10 {
		right: 83.33333333%;
	}

	.col-sm-pull-9 {
		right: 75%;
	}

	.col-sm-pull-8 {
		right: 66.66666667%;
	}

	.col-sm-pull-7 {
		right: 58.33333333%;
	}

	.col-sm-pull-6 {
		right: 50%;
	}

	.col-sm-pull-5 {
		right: 41.66666667%;
	}

	.col-sm-pull-4 {
		right: 33.33333333%;
	}

	.col-sm-pull-3 {
		right: 25%;
	}

	.col-sm-pull-2 {
		right: 16.66666667%;
	}

	.col-sm-pull-1 {
		right: 8.33333333%;
	}

	.col-sm-pull-0 {
		right: auto;
	}

	.col-sm-push-12 {
		left: 100%;
	}

	.col-sm-push-11 {
		left: 91.66666667%;
	}

	.col-sm-push-10 {
		left: 83.33333333%;
	}

	.col-sm-push-9 {
		left: 75%;
	}

	.col-sm-push-8 {
		left: 66.66666667%;
	}

	.col-sm-push-7 {
		left: 58.33333333%;
	}

	.col-sm-push-6 {
		left: 50%;
	}

	.col-sm-push-5 {
		left: 41.66666667%;
	}

	.col-sm-push-4 {
		left: 33.33333333%;
	}

	.col-sm-push-3 {
		left: 25%;
	}

	.col-sm-push-2 {
		left: 16.66666667%;
	}

	.col-sm-push-1 {
		left: 8.33333333%;
	}

	.col-sm-push-0 {
		left: auto;
	}
}

@media(min-width: 992px) {

	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12 {
		float: left;
	}

	.col-md-12 {
		width: 100%;
	}

	.col-md-11 {
		width: 91.66666667%;
	}

	.col-md-10 {
		width: 83.33333333%;
	}

	.col-md-9 {
		width: 75%;
	}

	.col-md-8 {
		width: 66.66666667%;
	}

	.col-md-7 {
		width: 58.33333333%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-5 {
		width: 41.66666667%;
	}

	.col-md-4 {
		width: 33.33333333%;
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-2 {
		width: 16.66666667%;
	}

	.col-md-1 {
		width: 8.33333333%;
	}

	.col-md-pull-12 {
		right: 100%;
	}

	.col-md-pull-11 {
		right: 91.66666667%;
	}

	.col-md-pull-10 {
		right: 83.33333333%;
	}

	.col-md-pull-9 {
		right: 75%;
	}

	.col-md-pull-8 {
		right: 66.66666667%;
	}

	.col-md-pull-7 {
		right: 58.33333333%;
	}

	.col-md-pull-6 {
		right: 50%;
	}

	.col-md-pull-5 {
		right: 41.66666667%;
	}

	.col-md-pull-4 {
		right: 33.33333333%;
	}

	.col-md-pull-3 {
		right: 25%;
	}

	.col-md-pull-2 {
		right: 16.66666667%;
	}

	.col-md-pull-1 {
		right: 8.33333333%;
	}

	.col-md-pull-0 {
		right: auto;
	}

	.col-md-push-12 {
		left: 100%;
	}

	.col-md-push-11 {
		left: 91.66666667%;
	}

	.col-md-push-10 {
		left: 83.33333333%;
	}

	.col-md-push-9 {
		left: 75%;
	}

	.col-md-push-8 {
		left: 66.66666667%;
	}

	.col-md-push-7 {
		left: 58.33333333%;
	}

	.col-md-push-6 {
		left: 50%;
	}

	.col-md-push-5 {
		left: 41.66666667%;
	}

	.col-md-push-4 {
		left: 33.33333333%;
	}

	.col-md-push-3 {
		left: 25%;
	}

	.col-md-push-2 {
		left: 16.66666667%;
	}

	.col-md-push-1 {
		left: 8.33333333%;
	}

	.col-md-push-0 {
		left: auto;
	}
}

@media(min-width: 1200px) {

	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12 {
		float: left;
	}

	.col-lg-12 {
		width: 100%;
	}

	.col-lg-11 {
		width: 91.66666667%;
	}

	.col-lg-10 {
		width: 83.33333333%;
	}

	.col-lg-9 {
		width: 75%;
	}

	.col-lg-8 {
		width: 66.66666667%;
	}

	.col-lg-7 {
		width: 58.33333333%;
	}

	.col-lg-6 {
		width: 50%;
	}

	.col-lg-5 {
		width: 41.66666667%;
	}

	.col-lg-4 {
		width: 33.33333333%;
	}

	.col-lg-3 {
		width: 25%;
	}

	.col-lg-2 {
		width: 16.66666667%;
	}

	.col-lg-1 {
		width: 8.33333333%;
	}
}

/* END GRID LAYOUT ############################################## */

/* FIX ################################################### */
.row:before,
.row:after,
.navbar:before,
.navbar:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after {
	display: table;
	content: " ";
}

.row:after,
.navbar:after,
.container:after,
.container-fluid:after {
	clear: both;
}

/* END FIX ################################################### */
